<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>About This App</h1>
  <p>This is a simple Express.js application using EJS.</p>
  <a href="/">Go back Home</a>
</body>
</html>
